<h3>
  <i class="far fa-calendar"></i>
  <%= @event[:date] %>
</h3>
<h1>RSVP for <%= @event[:title] %></h1>

<h3>Are you going?</h3>

<form action="/events/<%= @event[:id] %>/rsvps/create" class="mt-5">
  <div class="form-group">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="going" value="1">
      <label class="form-check-label">Yep</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="going" value="0">
      <label class="form-check-label">Nope</label>
    </div>
  </div>
  <div class="form-group">
    <label>Your Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Your Email</label>
    <input type="text" class="form-control" name="email">
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit RSVP</button>
</form>